{% extends "portfolio_app/base.html" %} {% load static %} {% block content1 %}
<!-- About Section -->
<div class="container my-5">
  <div class="row">
    <!-- Profile Image -->
    <div class="col-md-4 d-flex justify-content-center align-items-center about_image"> ">
      <img
        src="{% static 'images/im.jpg' %}"
        alt="Vicky Mahajan"
        class="circular-image"
      />
      
    </div>

    <!-- About Content -->
    <div class="col-md-8">
      <h2 class="title text-center">About Me</h2>
      <p class="about-text">
        Hi, I'm Vicky Mahajan, a passionate software developer with expertise in
        web development using technologies like Python, Django, JavaScript, and
        more. With a love for building intuitive and interactive applications, I
        strive to create meaningful and user-friendly solutions. I have a strong
        foundation in both backend and frontend technologies, always eager to
        learn and improve.
      </p>

      <h3 class="sub-title">Skills</h3>
      <ul class="skills-list">
        <li>Python</li>
        <li>Django & Django REST Framework</li>
        <li>JavaScript & React.js</li>
        <li>Node.js & Express.js</li>
        <li>MongoDB, MySQL</li>
        <li>Git & GitHub</li>
        <li>Problem Solving & Algorithms</li>
      </ul>

    
        </div>
      </div>
    </div>
  </div>

</hr>

  <div class="row ">
    <div class="col-12 text-center">
        
          <!-- Tech Stack Section -->
      <h2 class="sub-title">My Tech Stack</h2>
      <div class="tech-stack-icons">
        <div class="tech-icon">
          <img
            src="{% static 'images/html-5.png' %}"
            alt="HTML5"
            class="tech-icon-img"
          />
          <p class="tech-name">HTML5</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/css-3.png' %}"
            alt="CSS3"
            class="tech-icon-img"
          />
          <p class="tech-name">CSS3</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/js.png' %}"
            alt="JavaScript"
            class="tech-icon-img"
          />
          <p class="tech-name">JavaScript</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/react.jpeg' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">ReactJS</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/node-js.png' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">NodeJS</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/express-js.png' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">ExpressJS</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/next-js.png' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">NextJS</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/mongodb.jpeg' %}"
            alt="MongoDB"
            class="tech-icon-img"
          />
          <p class="tech-name">MongoDB</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/mysql.png' %}"
            alt="MySQL"
            class="tech-icon-img"
          />
          <p class="tech-name">MySQL</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/postgresql.png' %}"
            alt="MySQL"
            class="tech-icon-img"
          />
          <p class="tech-name">PostgreSQL</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/MERN-STACK.png' %}"
            alt="MERN Stack"
            class="tech-icon-img"
          />
          <p class="tech-name">MERN Stack</p>
        </div>

        <div class="tech-icon">
          <img
            src="{% static 'images/python.png' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">Python</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/django.jpeg' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">Django</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/numpy.jpeg' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">Numpy</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/pandas.jpg' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">Pandas</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/matplotlib.png' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">Matplotlib</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/git-github.jpeg' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">Git & GitHub</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/AI-ML.png' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">AI & ML</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/php-logo.png' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">PHP</p>
        </div>
        <div class="tech-icon">
          <img
            src="{% static 'images/jquery.png' %}"
            alt="Python"
            class="tech-icon-img"
          />
          <p class="tech-name">jQuery</p>
</div>
{% endblock %} {% comment %} {% extends "portfolio_app/base.html" %} {% load
static %} {% block content1 %}
<div class="row my-5">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <img
      src="{% static 'images/im.jpg' %}"
      alt="Vicky Mahajan"
      class="about_image"
    />
  </div>

  {% endblock content1 %} {% endcomment %}
</div>
